
</body>
<footer>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100010215105418"><i class="social-btn fa-brands fa-facebook face-b" ></i></a> 
    <a target="_blank" href="https://www.instagram.com/abd11ellah/"><i class="social-btn fa-brands fa-instagram insta-b"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/abdulilah-al-hamwi-101390201"><i class="social-btn fa-brands fa-linkedin link-b" ></i></a>
    <a target="_blank" href="mailto:abdulilahalhamwi@gmail.com"><i class="social-btn fa-regular fa-envelope email-b" ></i></a>
    <p class="last-p">© 2022/Abdulilah Al Hamwi</p>
    </footer>
  
</html >